body{
    font-family: "Montserrat";
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat';
}
.container-fluid{
    padding: 7% 15%;
}
/* Navigation Bar */
.navbar{
    padding: 0 0  4.5rem;
}
.navbar-brand{
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: bold;
}
.nav-item{
    padding: 0 19px;
}
.nav-link{
    font-size: 1.2rem;
    font-family: 'Montserrat-light';

}
/* Heading section */
.big-heading{
    font-size: 3.5rem;
    line-height: 1.5;
}
.section-heading{
    font-size: 3rem;
    line-height: 1.5;
}
#title{
    background-color: #ff4c69;
    color: #fff;
}
#title .container-fluid{
    padding: 3% 15% 7%;
}
/* Download Button */
.download-button{
    margin:5% 3% 5% 0 ;
}
/* Title Image  */

.title-image{ 
    width:20%;
    transform: rotate(26deg);    
    position: absolute;
}
.features-box{
    text-align: center;
    padding: 3%;
}

.secondary-text{
    font-family: 'Montserrat';
    color: #8f8f8f;
    font-weight: 500;
}
/* Feature section */
#features{
    
    background-color:#fff;
    position: relative;
    z-index: 1;
    
}
.feature-title{
    font-size: 1.5rem;
    font-weight: bold;
}
.icon{
color:#ef8172;
margin-bottom: 1rem;
}
.icon:hover{
    color: #ff4c68;
}

/* Testimonials  */
#testimonials{
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}
.testimonial-image{
    width: 20%;
    border-radius: 100%;
    margin: 20px;
}
.testimonial-text{
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.5;
}

/* Press */
#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom:3% ;
}
.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}
/* Pricing */
#pricing{
    padding: 100px;
}
.pricing-column{
    padding: 3% 2%;
    text-align: center;
}
.price-text{
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 1.5;
}
/* cta section */

#cta{
    background-color: #ff4c68;
    color: #fff;
    text-align: center;
    /* padding: 7% 15%; */
}

/* Footer section */
#footer{
/* padding: 7% 15%; */
text-align: center;
}
.social-icon{
    margin: 20px 10px;
}

/* Mediaquery */
@media (max-width:1024px) {
    #title{
        text-align: center;
    }
    .title-image{
        position: static;
        width:60%;
        transform: rotate(0);
    }
    
}